<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../Magento/Backend/etc/menu.xsd">
    <menu>
        <add id="Ktpl_Slider::ktpl" title="Ktpl Main" module="Ktpl_Slider" sortOrder="100" resource="Ktpl_Slider::slider"/>
        <add id="Ktpl_Slider::slider" title="Ktpl slider" module="Ktpl_Slider" sortOrder="1" parent="Ktpl_Slider::ktpl" action="slider/slider" resource="Ktpl_Slider::slider"/>
    </menu>
</config>